footer { 
    width: 100%;
    clear: both;
    position: relative;
    bottom: 0%;
    left: 0;
    right: 0;
    align-items: center;
    background-color: gray;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5em;
    min-height: 10em;
    padding: 1em 0;
    box-shadow: 0 0 10px 30px gray;
}

footer section {
    margin: 1em 4em;
    max-width: 100%;
    text-align: center;
}

footer section * {
    border-radius: 1em;
	margin-top: 0.5%;
    width: 16em;
}

/*
@media (max-width: 1200px) and (min-width: 851px) {
    footer section {
        margin: 1em 7em;
        font-size: 0.85em;
    }
}

@media (max-width: 850px) and (min-width: 751px) {
    footer section {
        margin: 1em 4em;
        font-size: 0.85em;
    }

    footer section * {
        width: 15em;
        margin-top: 1.5%;
    }

    .credits {
        font-size: 0.9em;
    }
}

@media (max-width: 750px) and (min-width: 501px) {
    footer section {
        margin: 0.5em 2.9em;
        font-size: 0.85em;
    }

    footer section * {
        width: 12em;
        margin-top: 1.5%;
    }

    .credits {
        font-size: 0.9em;
    }
}

@media (max-width: 500px) {
    footer section {
        margin: 0.2em 1em;
        font-size: 0.85em;
    }

    footer section * {
        width: 12em;
        margin-top: 1.5%;
    }

    .credits {
        font-size: 0.9em;
    }
}

@media (max-width: 451px) and (min-width: 300px) {
    footer section {
        margin: 0em 0.5em;
        font-size: 0.5em;
    }

    footer section * {
        width: 6em;
        margin-top: 1.5%;
    }

    .credits {
        font-size: 0.5em;
    }
}
*/

.credits {
    text-align: center;
}